<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title> {% block title %}
                Base title
            {% endblock %}
    </title>
</head>
<header>
  <div class="container-fluid">
<div class="row">

    <div class="col-md-1"></div>
    <div class="col-md-4">
    <a class="btn btn-primary my-2" href="{% url 'authors:index' %}">Main</a>
    <a class="btn btn-primary my-2"href="{% url 'authors:authors_list' %}">Authors list</a>
    <a class="btn btn-primary my-2" href="{% url 'authors:posts_list' %}">Posts list</a>
    </div>


    {% if user.is_authenticated %}

    <div class="col-md-3">
       <a class="btn btn-primary my-2" href="{% url 'authors:post_create' %}">Write post</a>
    </div>
  <div class="col-md-2">
      <a class="btn btn-light my-2" href="{% url 'myauth:user_detail' user.id %}">Hello {{ user.username }}!</a>
      <a class="btn btn-light my-2" href="{% url 'myauth:logout' %}">Logout</a>
  </div>

    {% else %}

     <div class="col-md-3"></div>
  <div class="col-md-2">
      <a class="btn btn-light my-2" href="{% url 'myauth:login' %}">Login</a>
      <a class="btn btn-light my-2" href="{% url 'myauth:user_create' %}">Register</a>
  </div>

    {% endif %}

  </div>
</div>
</header>

<body>

    <div>
        <div class="container">
            <div class="row align-items-center">
            {% block body %}
            {% endblock %}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>